<!DOCTYPE html>
<html>
  <head>
    <title>Enlighten</title>
    <script src="/javascripts/jquery-1.6.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/enlighten.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="/stylesheets/enlighten.css" type="text/css" charset="utf-8" />
  </head>
  <body>
    <% if @debugger %>
      <div id="side">
        <strong>Variables</strong><br />
        <% @debugger.local_variables.each do |name, value| %>
          <%= name %> = <%= value %><br />
        <% end %>
      </div>
      <div id="prompt">
        <form action="/debugger/eval" method="post">
          <div id="prompt_section">
            <pre>&gt;&gt; </pre>
            <input type="text" name="code" value="" id="prompt_field" />
            <input type="submit" value="Run">
          </div>
        </form>
      </div>
      <% @debugger.backtrace.each do |current, frame_num, description| %>
        <div class="backtrace">
          <strong>#<%= frame_num %>
          <%= description %></strong>
          <% if current %>
            <table class="code">
              <% @debugger.list.each do |current, num, line| %>
                <tr class="<%= current ? "current" : "not_current" %>">
                  <td class="num"><pre><%= num %></pre></td>
                  <td class="line"><pre><%= line %></pre></td>
                </tr>
              <% end %>
            </table>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <div id="not_enlightened">
        <h1>Not yet enlightened.</h1>
        <p>Unable to establish a connection to the ruby-debug server. Make sure a "debugger" statement has been triggered and try again.</p>
      </div>
    <% end %>
  </body>
</html>
